.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
tests/
/tests/tests/
/tests/results/
my_session/
ci_session-1/
ci_session/
xampp/
New_folder/
pips/
pips_sap_data/
pips_test/
pips_v1/
pipsin/
pipsout/
assets/uploads/customer/
assets/uploads/SAP/
pmkit-nodeapp/
LoadData/
system/sessions/
system/sessions-/

/.editorconfig
/.htaccess
/.htaccess.bak
/bitnami.css
/htdocs_aj.zip
/index.php.bak
/adminer.php
*.log
*.sql
*.zip
*.csv
*.jar
*.bat
/PIPSSalesHdr.xlsx
/test.txt
/tt.html
/mysql.php
upload/part_pics/CAT- 0L1178.png
upload/part_pics/CAT- 1G7206.png
upload/part_pics/CAT- 1K7082.png
upload/part_pics/CAT- 1P3704.png
upload/part_pics/CAT- 1P3705.png
upload/part_pics/CAT- 1R0716.png
upload/part_pics/CAT- 1R0722.png
upload/part_pics/CAT- 1R0726.png
upload/part_pics/CAT- 1R0750.png
upload/part_pics/CAT- 1R0753.png
upload/part_pics/CAT- 1R0755.png
upload/part_pics/CAT- 1R0756.png
upload/part_pics/CAT- 1R0773.png
upload/part_pics/CAT- 1S4305.png
upload/part_pics/CAT- 1W3636.png
upload/part_pics/CAT- 2B3147.png
upload/part_pics/CAT- 2B9373.png
upload/part_pics/CAT- 2D8009.png
upload/part_pics/CAT- 2G9103.png
upload/part_pics/CAT- 2G9789.png
upload/part_pics/CAT- 2J3506.png
upload/part_pics/CAT- 2J6274.png
upload/part_pics/CAT- 2N2138.png
upload/part_pics/CAT- 2P1692.png
upload/part_pics/CAT- 3B4631.png
upload/part_pics/CAT- 3B5319.png
upload/part_pics/CAT- 3K0360.png
upload/part_pics/CAT- 3P0337.png
upload/part_pics/CAT- 3S2093.png
upload/part_pics/CAT- 4F3656.png
upload/part_pics/CAT- 4F3657.png
upload/part_pics/CAT- 4F4097.png
upload/part_pics/CAT- 4F7827.png
upload/part_pics/CAT- 4F7952.png
upload/part_pics/CAT- 4F9029.png
upload/part_pics/CAT- 4F9653.png
upload/part_pics/CAT- 4I6766.png
upload/part_pics/CAT- 4J0520.png
upload/part_pics/CAT- 4J0522.png
upload/part_pics/CAT- 4J0527.png
upload/part_pics/CAT- 4J5267.png
upload/part_pics/CAT- 4J5477.png
upload/part_pics/CAT- 4J9535.png
upload/part_pics/CAT- 4K0367.png
upload/part_pics/CAT- 4N6658.png
upload/part_pics/CAT- 4N8218.png
upload/part_pics/CAT- 4W1203.png
upload/part_pics/CAT- 4W1204.png
upload/part_pics/CAT- 4Y9652.png
upload/part_pics/CAT- 5D5957.png
upload/part_pics/CAT- 5H4909.png
upload/part_pics/CAT- 5H5672.png
upload/part_pics/CAT- 5J1086.png
upload/part_pics/CAT- 5J4773.png
upload/part_pics/CAT- 5K9090.png
upload/part_pics/CAT- 5M2057.png
upload/part_pics/CAT- 5M6200.png
upload/part_pics/CAT- 5M9738.png
upload/part_pics/CAT- 5P0537.png
upload/part_pics/CAT- 5P2545.png
upload/part_pics/CAT- 5P3863.png
upload/part_pics/CAT- 5P4868.png
upload/part_pics/CAT- 5P8211.png
upload/part_pics/CAT- 5V2545.png
upload/part_pics/CAT- 6D0692.png
upload/part_pics/CAT- 6I0273.png
upload/part_pics/CAT- 6I0274.png
upload/part_pics/CAT- 6I2499.png
upload/part_pics/CAT- 6I2500.png
upload/part_pics/CAT- 6I2501.png
upload/part_pics/CAT- 6I2502.png
upload/part_pics/CAT- 6I2509.png
upload/part_pics/CAT- 6I2510.png
upload/part_pics/CAT- 6I8911.png
upload/part_pics/CAT- 6I8912.png
upload/part_pics/CAT- 6I9502.png
upload/part_pics/CAT- 6J2680.png
upload/part_pics/CAT- 6L1650.png
upload/part_pics/CAT- 6V3213.png
upload/part_pics/CAT- 6V3907.png
upload/part_pics/CAT- 6V4364.png
upload/part_pics/CAT- 6V5200.png
upload/part_pics/CAT- 6V8144.png
upload/part_pics/CAT- 6V8145.png
upload/part_pics/CAT- 6V8218.png
upload/part_pics/CAT- 6V8344.png
upload/part_pics/CAT- 6V8397.png
upload/part_pics/CAT- 6V8398.png
upload/part_pics/CAT- 6V8636.png
upload/part_pics/CAT- 6V8724.png
upload/part_pics/CAT- 6V8757.png
upload/part_pics/CAT- 6V8978.png
upload/part_pics/CAT- 6V9746.png
upload/part_pics/CAT- 6V9748.png
upload/part_pics/CAT- 6V9843.png
upload/part_pics/CAT- 6Y1115.png
upload/part_pics/CAT- 6Y1192.png
upload/part_pics/CAT- 6Y7915.png
upload/part_pics/CAT- 6Y7981.png
upload/part_pics/CAT- 7F8268.png
upload/part_pics/CAT- 7G4822.png
upload/part_pics/CAT- 7J0204.png
upload/part_pics/CAT- 7J5925.png
upload/part_pics/CAT- 7J9108.png
upload/part_pics/CAT- 7K1181.png
upload/part_pics/CAT- 7K9205.png
upload/part_pics/CAT- 7T1637.png
upload/part_pics/CAT- 7T3249.png
upload/part_pics/CAT- 7T4897.png
upload/part_pics/CAT- 7X0590.png
upload/part_pics/CAT- 7X4741.png
upload/part_pics/CAT- 8C3442.png
upload/part_pics/CAT- 8E5734.png
upload/part_pics/CAT- 8E5736.png
upload/part_pics/CAT- 8E5742.png
upload/part_pics/CAT- 8E8319.png
upload/part_pics/CAT- 8F3469.png
upload/part_pics/CAT- 8H2778.png
upload/part_pics/CAT- 8M8997.png
upload/part_pics/CAT- 8T0154.png
upload/part_pics/CAT- 8T3990.png
upload/part_pics/CAT- 8T4121.png
upload/part_pics/CAT- 8T4131.png
upload/part_pics/CAT- 8T4137.png
upload/part_pics/CAT- 8T4138.png
upload/part_pics/CAT- 8T4198.png
upload/part_pics/CAT- 8T4200.png
upload/part_pics/CAT- 8T4222.png
upload/part_pics/CAT- 8T4773.png
upload/part_pics/CAT- 8T4821.png
upload/part_pics/CAT- 8T5092.png
upload/part_pics/CAT- 8T5439.png
upload/part_pics/CAT- 8T6685.png
upload/part_pics/CAT- 8T8549.png
upload/part_pics/CAT- 8T9025.png
upload/part_pics/CAT- 9G7641.png
upload/part_pics/CAT- 9M1974.png
upload/part_pics/CAT- 9M5590.png
upload/part_pics/CAT- 9R0158.png
upload/part_pics/CAT- 9R1502.png
upload/part_pics/CAT- 9R1510.png
upload/part_pics/CAT- 9R8291.png
upload/part_pics/CAT- 9U9995.png
upload/part_pics/CAT- 9W2029.png
upload/part_pics/CAT- 9W9371.png
upload/part_pics/CAT- 9W9905.png
upload/part_pics/CAT- 9X7684.png
upload/part_pics/CAT- 9X7743.png
upload/part_pics/CAT- 9X8258.png
upload/part_pics/CAT-0542213.png
upload/part_pics/CAT-0551990.png
upload/part_pics/CAT-0931436.png
upload/part_pics/CAT-0940876.png
upload/part_pics/CAT-0951041.png
upload/part_pics/CAT-0951625.png
upload/part_pics/CAT-0951716.png
upload/part_pics/CAT-1011787.png
upload/part_pics/CAT-1075769.png
upload/part_pics/CAT-1085751.png
upload/part_pics/CAT-1093207.png
upload/part_pics/CAT-1114337.png
upload/part_pics/CAT-1154223.png
upload/part_pics/CAT-1174089.png
upload/part_pics/CAT-1221886.png
upload/part_pics/CAT-1232003.png
upload/part_pics/CAT-1240360.png
upload/part_pics/CAT-1271960.png
upload/part_pics/CAT-1274471.png
upload/part_pics/CAT-1317123.png
upload/part_pics/CAT-1318821.png
upload/part_pics/CAT-1318822.png
upload/part_pics/CAT-1327167.png
upload/part_pics/CAT-1359819.png
upload/part_pics/CAT-1367808.png
upload/part_pics/CAT-1482903.png
upload/part_pics/CAT-1484685.png
upload/part_pics/CAT-1495240.png
upload/part_pics/CAT-1517737.png
upload/part_pics/CAT-1527146.png
upload/part_pics/CAT-1545405.png
upload/part_pics/CAT-1590927.png
upload/part_pics/CAT-1609874.png
upload/part_pics/CAT-1658996.png
upload/part_pics/CAT-1680480.png
upload/part_pics/CAT-1749711.png
upload/part_pics/CAT-1750054.png
upload/part_pics/CAT-1757902.png
upload/part_pics/CAT-1760626.png
upload/part_pics/CAT-1832358.png
upload/part_pics/CAT-1890202.png
upload/part_pics/CAT-1908494.png
upload/part_pics/CAT-1910522.png
upload/part_pics/CAT-1979322.png
upload/part_pics/CAT-1999267.png
upload/part_pics/CAT-2005233.png
upload/part_pics/CAT-2011919.png
upload/part_pics/CAT-2051280.png
upload/part_pics/CAT-2069300.png
upload/part_pics/CAT-2088240.png
upload/part_pics/CAT-2094314.png
upload/part_pics/CAT-2094325.png
upload/part_pics/CAT-2147568.png
upload/part_pics/CAT-2165586.png
upload/part_pics/CAT-2203398.png
upload/part_pics/CAT-2244536.png
upload/part_pics/CAT-2258019.png
upload/part_pics/CAT-2310167.png
upload/part_pics/CAT-2310168.png
upload/part_pics/CAT-2366366.png
upload/part_pics/CAT-2385084.png
upload/part_pics/CAT-2465009.png
upload/part_pics/CAT-2478629.png
upload/part_pics/CAT-2496658.png
upload/part_pics/CAT-2496660.png
upload/part_pics/CAT-2515886.png
upload/part_pics/CAT-2531752.png
upload/part_pics/CAT-2546802.png
upload/part_pics/CAT-2552751.png
upload/part_pics/CAT-2625689.png
upload/part_pics/CAT-2697041.png
upload/part_pics/CAT-2701528.png
upload/part_pics/CAT-2780642.png
upload/part_pics/CAT-2795267.png
upload/part_pics/CAT-2818870.png
upload/part_pics/CAT-2849039.png
upload/part_pics/CAT-2883717.png
upload/part_pics/CAT-2930730.png
upload/part_pics/CAT-3007933.png
upload/part_pics/CAT-3013118.png
upload/part_pics/CAT-3261641.png
upload/part_pics/CAT-3261643.png
upload/part_pics/CAT-3290412.png
upload/part_pics/CAT-3318538.png
upload/part_pics/CAT-3391048.png
upload/part_pics/CAT-3468576.png
upload/part_pics/CAT-3497059.png
upload/part_pics/CAT-3525646.png
upload/part_pics/CAT-3572637.png
upload/part_pics/CAT-3577540.png
upload/part_pics/CAT-3596616.png
upload/part_pics/CAT-3664622.png
upload/part_pics/CAT-3678467.png
upload/part_pics/CAT-3777037.png
upload/part_pics/CAT-3783187.png
upload/part_pics/CAT-3837984.png
upload/part_pics/CAT-4161225.png
upload/part_pics/CAT-4201779.png
upload/part_pics/CAT-4201781.png
upload/part_pics/CAT-4231982.png
upload/part_pics/CAT-4231984.png
upload/part_pics/CAT-4231985.png
upload/part_pics/CAT-4238521.png
upload/part_pics/CAT-4337105.png
upload/part_pics/CAT-4415111.png
upload/part_pics/CAT-4512183.png
upload/part_pics/CAT-4529831.png
upload/part_pics/CAT-4656506.png
upload/part_pics/CAT-4664938.png
upload/part_pics/CAT-4678535.png
upload/part_pics/CAT-4860967.png
upload/part_pics/CAT-4964800.png
upload/part_pics/CAT-4969841.png
upload/part_pics/CAT-5000483.png
upload/part_pics/CAT-5094135.png
upload/part_pics/CAT-5094136.png
upload/part_pics/CAT-5094138.png
upload/part_pics/CAT-5099705.png
upload/part_pics/CAT-5134490.png
upload/part_pics/CAT-5201511.png
upload/part_pics/CAT-5220801.png
upload/part_pics/CAT-5234987.png
upload/part_pics/CAT-5260891.png
upload/part_pics/CAT-5298053.png
upload/part_pics/CAT-5577627.png
upload/part_pics/CAT-5782395.png
upload/part_pics/CAT-5909787.png
upload/part_pics/CAT-5931533.png
upload/part_pics/CAT-5988096.png
upload/part_pics/CAT-6008815.png
upload/part_pics/CPI-0542213.png
upload/part_pics/CPI-0951041.png
upload/part_pics/CPI-1106326.png
upload/part_pics/CPI-1570739.png
upload/part_pics/CPI-1876058.png
upload/part_pics/CPI-1909838.png
upload/part_pics/CPI-1956348.png
upload/part_pics/CPI-1987812.png
upload/part_pics/CPI-2094232.png
upload/part_pics/CPI-2147469.png
upload/part_pics/CPI-2271184.png
upload/part_pics/CPI-2271185.png
upload/part_pics/CPI-2282811.png
upload/part_pics/CPI-2384530.png
upload/part_pics/CPI-2406406.png
upload/part_pics/CPI-2406410.png
upload/part_pics/CPI-2409393.png
upload/part_pics/CPI-2409721.png
upload/part_pics/CPI-2727836.png
upload/part_pics/CPI-2872814.png
upload/part_pics/CPI-2975117.png
upload/part_pics/CPI-2996985.png
upload/part_pics/CPI-2996986.png
upload/part_pics/CPI-3067884.png
upload/part_pics/CPI-3089588.png
upload/part_pics/CPI-3091415.png
upload/part_pics/CPI-3117958.png
upload/part_pics/CPI-3120335.png
upload/part_pics/CPI-3158131.png
upload/part_pics/CPI-3180134.png
upload/part_pics/CPI-3181602.png
upload/part_pics/CPI-3183443.png
upload/part_pics/CPI-3207863.png
upload/part_pics/CPI-3245941.png
upload/part_pics/CPI-3246560.png
upload/part_pics/CPI-3246826.png
upload/part_pics/CPI-3246844.png
upload/part_pics/CPI-3281224.png
upload/part_pics/CPI-3287248.png
upload/part_pics/CPI-3287249.png
upload/part_pics/CPI-3318528.png
upload/part_pics/CPI-3318538.png
upload/part_pics/CPI-3327496.png
upload/part_pics/CPI-3363419.png
upload/part_pics/CPI-3374916.png
upload/part_pics/CPI-3374917.png
upload/part_pics/CPI-3556760.png
upload/part_pics/CPI-3556763.png
upload/part_pics/CPI-3593853.png
upload/part_pics/CPI-3593854.png
upload/part_pics/CPI-3646980.png
upload/part_pics/CPI-3646981.png
upload/part_pics/CPI-3658330.png
upload/part_pics/CPI-3722777.png
upload/part_pics/CPI-3722778.png
upload/part_pics/CPI-3723396.png
upload/part_pics/CPI-3728134.png
upload/part_pics/CPI-3734307.png
upload/part_pics/CPI-3837592.png
upload/part_pics/CPI-3853327.png
upload/part_pics/CPI-3853328.png
upload/part_pics/CPI-3862736.png
upload/part_pics/CPI-3897169.png
upload/part_pics/CPI-3897180.png
upload/part_pics/CPI-3897181.png
upload/part_pics/CPI-3976729.png
upload/part_pics/CPI-3976735.png
upload/part_pics/CPI-3976740.png
upload/part_pics/CPI-3985566.png
upload/part_pics/CPI-3B5319.png
upload/part_pics/CPI-4166912.png
upload/part_pics/CPI-4172707.png
upload/part_pics/CPI-4174759.png
upload/part_pics/CPI-4174785.png
upload/part_pics/CPI-4174786.png
upload/part_pics/CPI-4174787.png
upload/part_pics/CPI-4174819.png
upload/part_pics/CPI-4190372.png
upload/part_pics/CPI-4243872.png
upload/part_pics/CPI-4243873.png
upload/part_pics/CPI-4325881.png
upload/part_pics/CPI-4327476.png
upload/part_pics/CPI-4333101.png
upload/part_pics/CPI-4333102.png
upload/part_pics/CPI-4387729.png
upload/part_pics/CPI-4402904.png
upload/part_pics/CPI-4402905.png
upload/part_pics/CPI-4440154.png
upload/part_pics/CPI-4443333.png
upload/part_pics/CPI-4452931.png
upload/part_pics/CPI-4491647.png
upload/part_pics/CPI-4527281.png
upload/part_pics/CPI-4530704.png
upload/part_pics/CPI-4530708.png
upload/part_pics/CPI-4537349.png
upload/part_pics/CPI-4537500.png
upload/part_pics/CPI-4540371.png
upload/part_pics/CPI-4540406.png
upload/part_pics/CPI-4548644.png
upload/part_pics/CPI-4548648.png
upload/part_pics/CPI-4554314.png
upload/part_pics/CPI-4580532.png
upload/part_pics/CPI-4619572.png
upload/part_pics/CPI-4661891.png
upload/part_pics/CPI-4661892.png
upload/part_pics/CPI-4692725.png
upload/part_pics/CPI-4707485.png
upload/part_pics/CPI-4728936.png
upload/part_pics/CPI-4728941.png
upload/part_pics/CPI-4729039.png
upload/part_pics/CPI-4729046.png
upload/part_pics/CPI-4729158.png
upload/part_pics/CPI-4729199.png
upload/part_pics/CPI-4729206.png
upload/part_pics/CPI-4729417.png
upload/part_pics/CPI-4729752.png
upload/part_pics/CPI-4729857.png
upload/part_pics/CPI-4736118.png
upload/part_pics/CPI-4736119.png
upload/part_pics/CPI-4736120.png
upload/part_pics/CPI-4736121.png
upload/part_pics/CPI-4736122.png
upload/part_pics/CPI-4736142.png
upload/part_pics/CPI-4755369.png
upload/part_pics/CPI-4755824.png
upload/part_pics/CPI-4781362.png
upload/part_pics/CPI-4785230.png
upload/part_pics/CPI-4796330.png
upload/part_pics/CPI-4811859.png
upload/part_pics/CPI-4811863.png
upload/part_pics/CPI-4812651.png
upload/part_pics/CPI-4832857.png
upload/part_pics/CPI-4832858.png
upload/part_pics/CPI-4860951.png
upload/part_pics/CPI-4861603.png
upload/part_pics/CPI-4861604.png
upload/part_pics/CPI-4869218.png
upload/part_pics/CPI-4869223.png
upload/part_pics/CPI-4876205.png
upload/part_pics/CPI-4917028.png
upload/part_pics/CPI-4937046.png
upload/part_pics/CPI-4988945.png
upload/part_pics/CPI-4988947.png
upload/part_pics/CPI-4988954.png
upload/part_pics/CPI-4F3657.png
upload/part_pics/CPI-4K0367.png
upload/part_pics/CPI-5000797.png
upload/part_pics/CPI-5021260.png
upload/part_pics/CPI-5021261.png
upload/part_pics/CPI-5021262.png
upload/part_pics/CPI-5021263.png
upload/part_pics/CPI-5029582.png
upload/part_pics/CPI-5029583.png
upload/part_pics/CPI-5056115.png
upload/part_pics/CPI-5057456.png
upload/part_pics/CPI-5077552.png
upload/part_pics/CPI-5079330.png
upload/part_pics/CPI-5095827.png
upload/part_pics/CPI-5181885.png
upload/part_pics/CPI-5181944.png
upload/part_pics/CPI-5181947.png
upload/part_pics/CPI-5222837.png
upload/part_pics/CPI-5222964.png
upload/part_pics/CPI-5222983.png
upload/part_pics/CPI-5222985.png
upload/part_pics/CPI-5223076.png
upload/part_pics/CPI-5223079.png
upload/part_pics/CPI-5243239.png
upload/part_pics/CPI-5253672.png
upload/part_pics/CPI-5329807.png
upload/part_pics/CPI-5331615.png
upload/part_pics/CPI-5505498.png
upload/part_pics/CPI-5505757.png
upload/part_pics/CPI-5505782.png
upload/part_pics/CPI-5505783.png
upload/part_pics/CPI-5576517.png
upload/part_pics/CPI-5703872.png
upload/part_pics/CPI-5727136.png
upload/part_pics/CPI-5751696.png
upload/part_pics/CPI-5808958.png
upload/part_pics/CPI-5821111.png
upload/part_pics/CPI-5821112.png
upload/part_pics/CPI-5865700.png
upload/part_pics/CPI-5924312.png
upload/part_pics/CPI-5961371.png
upload/part_pics/CPI-5F9144.png
upload/part_pics/CPI-5H4909.png
upload/part_pics/CPI-5P0743.png
upload/part_pics/CPI-5V2545.png
upload/part_pics/CPI-6000122.png
upload/part_pics/CPI-6011175.png
upload/part_pics/CPI-6031441.png
upload/part_pics/CPI-7J9108.png
upload/part_pics/CPI-8F6230.png
upload/part_pics/CPI-8M8997.png
upload/part_pics/CPI-8T4139.png
upload/part_pics/CPI-8T4222.png
upload/part_pics/CPI-8T4821.png
upload/part_pics/CPI-8T5439.png
upload/part_pics/CPI-8Y8674.png
upload/part_pics/CPI-9R0109.png
upload/part_pics/CPI-9R0158.png
upload/part_pics/CPI-9R0481.png
upload/part_pics/CPI-9R1496.png
upload/part_pics/CPI-9R3182.png
upload/part_pics/CPI-9R4066.png
upload/part_pics/CPI-9R4494.png
upload/part_pics/CPI-9R5948.png
upload/part_pics/CPI-9R7882.png
upload/part_pics/CPI-9R8390.png
upload/part_pics/CPI-9R8544.png
upload/part_pics/CPI-9R9702.png
upload/part_pics/CPI-9S3581.png
upload/part_pics/CPI-9S3582.png
upload/part_pics/CPI-9S7949.png
upload/part_pics/CPI-9S7950.png
upload/part_pics/IML-3007915.png
upload/part_pics/IML-4526014.png
upload/part_pics/IML-6223149.png
