.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

.well-known

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
tests/
/tests/tests/
/tests/results/
my_session/
ci_session-1/
ci_session/
xampp/
New_folder/
pips/
pips_sap_data/
pips_test/
pips_v1/
pipsin/
pipsout/
assets/uploads/customer/
assets/uploads/SAP/
pmkit-nodeapp/
LoadData/
system/sessions/
system/sessions-/

/.editorconfig
/.htaccess
/.htaccess.bak
/bitnami.css
/htdocs_aj.zip
/index.php.bak
/adminer.php
*.log
*.sql
*.zip
*.csv
*.jar
*.bat
/PIPSSalesHdr.xlsx
/test.txt
/tt.html
/mysql.php
upload/part_pics/*
